/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

body.stretched #header.full-header .container {
	padding: 0 0 0 30px;
}


#header.full-header #primary-menu > ul {
	margin-right: 0;
}

body,
.dropdown-menu { font-size: 14px; }


@media (max-width: 991px) {
	#header.transparent-header.dark:not(.sticky-header) #header-wrap {
		background-color: #111;
	}
}